html,
body {
  background: #111;
  color: #fff;
  font-family: "Orbitron";
}

body {
  padding: 2em;
}

#scores {
  display: block;
}
#scores #home {
  float: left;
  text-align: left;
}
#scores #away {
  float: right;
  text-align: right;
}
#scores .score {
  font-size: 3em;
}
#scores .timeouts {
  font-size: 1em;
}
#scores .timeouts:before {
  content: "Timeouts: ";
}
#scores .jammer:before {
  content: "Jammer: ";
}

#times {
  max-width: 50%;
  margin: 0 auto;
  text-align: center;
}
#times #period .label:before {
  content: "Period ";
}
#times #jam .label:before {
  content: "Jam ";
}
#times .label {
  font-size: 2em;
}
#times .time {
  background: #fff;
  color: #111;
  font-size: 3em;
  padding: 0.5em 0.5em 0.25em;
  width: 3em;
  text-align: right;
  margin: 0.25em auto 1em;
  line-height: 0.5;
}
