html,
body {
  background: #444;
  color: #fff;
  font-family: 'Inconsolata', monospace;
}

body {
  padding: 2em;
}

#scores {
  display: block;

  #home {
    float: left;
    text-align: left;
  }
  #away {
    float: right;
    text-align: right;
  }

  button.circlebtn {
    border: 0;
    border-radius: 50%;
    width: 1.5em;
    height: 1.5em;
    padding: 0 0.1em 0 0;
    font-size: 70%;
    font-weight: 900;
    margin: 0;
    &:first-child {
      margin-right: 0.25em;
    }
    &:last-child {
      margin-left: 0.25em;
    }
  }
  .team-name {

  }
  .score {
    font-size: 3em;
  }
  .timeouts {
    font-size: 1em;

    &:before {
      content: 'Timeouts: ';
    }
  }
  .jammer {
    button {
      display: block;
    }

    &.lead {
      color: #ff0;
      font-weight: 900;
    }
    &:before {
      content: 'Jammer: ';
    }
  }
}

#times {
  max-width: 50%;
  margin: 0 auto;
  text-align: center;

  #period {
    .label {
      &:before {
        content: 'Period ';
      }
    }
    .time {

    }
  }
  #jam {
    .label {
      &:before {
        content: 'Jam ';
      }
    }
    .jam-score {
      display: inline-block;
      font-size: 4em;
      width: 1em;

      &.home {
        margin-right: 0.25em;
        text-align: right;
      }
      &.away {
        margin-left: 0.25em;
        text-align: left;
      }
      &.lead {
        color: #ff0;
      }
    }
    .time {
      display: inline-block;
      margin-bottom: 0.25em;
    }
  }

  .label {
    font-size: 2em;
  }
  .time {
    background: #fff;
    color: #111;
    font-size: 4em;
    padding: 0.5em;
    width: 2.5em;
    text-align: right;
    margin: 0.25em auto 1em;
    line-height: 0.5;
  }
}

.log {
  li {
    
  }
}